<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>

    <!-- NOTE: This file needs to be placed after Sitecore.Buckets.config otherwise it wil overwrite the default authorization provider -->

    <settings>
      <!-- The access right name can be changed by uncommenting the below setting.
           Remember to also change the name in the <accessRights> section. -->
      <!--<setting name="DesignRights.AccessRightName" value="item:customdesign" />-->
    </settings>

    <!-- Add custom access right -->
    <accessRights>
      <rights>
        <add name="item:customdesign"
             title="Design"
             comment="Design right for items."
             type="Krusen.DesignRights.DesignAccessRight, Krusen.DesignRights"
             patch:after="*[@name='item:admin']"/>
      </rights>
    </accessRights>

    <!-- Replace authorization provider with our own that handles our custom access right -->
    <authorization set:defaultProvider="designrights">
      <providers>
        <add name="designrights" type="Krusen.DesignRights.DesignRightsAuthorizationProvider, Krusen.DesignRights" connectionStringName="core" embedAclInItems="true" />
      </providers>
    </authorization>

    <!-- Override relevant buttons in Content Editor and old Page Editor (non-SPEAK) -->
    <commands>
      <command name="webedit:selectlayoutpreset" set:type="Krusen.DesignRights.Commands.SelectLayoutPreset, Krusen.DesignRights" />
      <command name="webedit:hidecontrol"        set:type="Krusen.DesignRights.Commands.HideControl, Krusen.DesignRights" />
      <command name="item:setlayoutdetails"      set:type="Krusen.DesignRights.Commands.SetLayoutDetails, Krusen.DesignRights" />
      <command name="pagedesigner:reset"         set:type="Krusen.DesignRights.Commands.Reset, Krusen.DesignRights" />
    </commands>

    <!-- Override relevant buttons in Experience Editor -->
    <sitecore.experienceeditor.speak.requests>
      <request name="ExperienceEditor.LayoutDetails.CanEdit"     set:type="Krusen.DesignRights.ExperienceEditor.Requests.LayoutDetails.CanEditLayoutDetailsRequest, Krusen.DesignRights" />
      <request name="ExperienceEditor.CanAddComponent"           set:type="Krusen.DesignRights.ExperienceEditor.Requests.AddRendering.CanAddRendering, Krusen.DesignRights" />
      <request name="ExperienceEditor.ResetLayout.IsEnabled"     set:type="Krusen.DesignRights.ExperienceEditor.Requests.ResetLayout.IsEnabled, Krusen.DesignRights" />
      <request name="ExperienceEditor.EnableDesigning.CanDesign" set:type="Krusen.DesignRights.ExperienceEditor.Requests.EnableDesigning.CanDesign, Krusen.DesignRights" />
      <request name="ExperienceEditor.LayoutPresets.CanOpen"     set:type="Krusen.DesignRights.ExperienceEditor.Requests.LayoutPresets.CanOpenRequest, Krusen.DesignRights" />
      <request name="ExperienceEditor.Versions.GetStatus"        set:type="Krusen.DesignRights.ExperienceEditor.Requests.EditAllVersions.GetStatus, Krusen.DesignRights" />
    </sitecore.experienceeditor.speak.requests>

  </sitecore>
</configuration>